<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Image Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Upload product image
        </ng-template>
        <ng-template pTemplate="content">
            <p-progressBar *ngIf="productModel.fileStatus.percent != 100" [value]="productModel.fileStatus.percent"></p-progressBar>
            <div class="mb-5">
                <p-fileUpload tabindex="1" id="imageUrl" accept="image/*" customUpload="true"
                              [showCancelButton]="false" [showUploadButton]="false"
                              [files]="this.productModel.pFileUploadProductImg"
                              (onSelect)="onSelectedImage($event)" multiple="multiple" fileLimit="3"
                              [chooseLabel]="'Add Product Image'" (onRemove)="onRemovedImage($event)"
                              maxFileSize="10000000000" class="text-center" previewWidth="80">
                </p-fileUpload>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Back" (click)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Next" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>

</div>
