<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Confirmation
        </ng-template>
        <ng-template pTemplate="subtitle">
            Confirmation for adding product
        </ng-template>
        <ng-template pTemplate="content">
            <div class="field col-12">
                <label>Name</label> <br>
                <b>{{productInformation.detailInformation.name ? productInformation.detailInformation.name : '-'}}</b>
            </div>
            <div class="field col-12">
                <label>Category Name</label> <br>
                <b>{{productInformation.detailInformation.category['categoryName'] ? productInformation.detailInformation.category['categoryName'] : '-'}}</b>
            </div>
            <div class="field col-12">
                <label>Total Calories</label> <br>
                <b>{{productInformation.detailInformation.totalCalories ? productInformation.detailInformation.totalCalories + " Cals" : '-'}}</b>
            </div>
            <div class="field col-12">
                <label>Description</label> <br>
                <b>{{productInformation.detailInformation.description ? productInformation.detailInformation.description : '-'}}</b>
            </div>
            <div class="field col-12">
                <label>Unit Price</label> <br>
                <!--suppress TypeScriptUnresolvedFunction -->
                <b>{{productInformation.priceInformation.unitPrice ? (productInformation.priceInformation.unitPrice | currency:'Rp. ') : '-' }}</b>
            </div>
            <div class="field col-12">
                <label>Discount</label> <br>
                <b [class]="productInformation.priceInformation.discount ? 'item-badge status-true': 'item-badge status-false'">
                    {{productInformation.priceInformation.discount ? 'AVAILABLE' : 'NOT AVAILABLE' }}</b>
            </div>
            <div class="field col-12">
                <label>Discount Percentage</label> <br>
                <b>{{productInformation.priceInformation.discountPercent ? productInformation.priceInformation.discountPercent + " %"
                    : '-'}}</b>
            </div>
            <div class="field col-12">
                <label>Discounted Price</label> <br>
                <!--suppress TypeScriptUnresolvedFunction -->
                <b>{{productInformation.priceInformation.discountedPrice ? (productInformation.priceInformation.discountedPrice | currency:'Rp. ')
                    : '-'}}</b>
            </div>

            <!--      NORMAL      -->
            <p-galleria #galleria [value]="images" [(activeIndex)]="activeIndex" [numVisible]="5"
                        [containerStyle]="{'width':  '300px'}"
                        [containerClass]="galleriaClass()"
                        [showThumbnails]="showThumbnails" [showItemNavigators]="true" [showItemNavigatorsOnHover]="true"
                        [circular]="true" [autoPlay]="true" [transitionInterval]="3000">
                <ng-template pTemplate="item" let-image>
                    <img [src]="image.imageBase64"
                         [ngStyle]="{
                         'width': !fullscreen ? '300px' : '',
                         'height': !fullscreen ? '300px' : '',
                         'max-width': fullscreen ? '600px' : '300px',
                         'max-height': fullscreen ? '500px' : '400px',
                         'display': !fullscreen ? 'block' : ''}"/>
                </ng-template>
                <ng-template pTemplate="thumbnail" let-image>
                    <div class="grid grid-nogutter justify-content-center">
                        <img [src]="image.imageBase64" width="70" height="50" style="display: block;"/>
                    </div>
                </ng-template>
                <ng-template pTemplate="footer" let-item>
                    <div class="custom-galleria-footer">
                        <button type="button" pButton icon="pi pi-list" (click)="onThumbnailButtonClick()"></button>
                        <span *ngIf="images" class="title-container">
                            <span>{{activeIndex + 1}}/{{images.length}}</span>
                            <span class="title">
                                {{activeIndex == 0 ? 'Main Image' : activeIndex == 1 ? 'Secondary Image' : 'Third Image'}}
                            </span>
                            <!--                            <span>{{images[activeIndex].imageFile.name}}</span>-->
                        </span>
                        <button type="button" pButton [icon]="fullScreenIcon()" (click)="toggleFullScreen()"
                                class="fullscreen-button"></button>

                    </div>
                </ng-template>
            </p-galleria>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Complete" (onClick)="complete()" icon="pi pi-angle-right" iconPos="right"
                          styleClass="p-button-success"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>
