<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openAddOrEditUserDialog(false)"
                            pButton pRipple label="Add User" icon="pi pi-plus"
                            class="p-button-success mr-2"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="onDeleteSelectedUsers()"
                                [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
                            pTooltip="CSV" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
                            class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll" [loading]="tableUserLoading"
                     [globalFilterFields]="['username','role.roleName','active']" [rows]="10" [paginator]="true"
                     [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     [exportHeader]="'customExportHeader'"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedUsers" (selectionChange)="onAllSelect()" selectionMode="multiple"
                     [rowHover]="true" dataKey="username">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Users</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <!--suppress TypeScriptUnresolvedVariable -->
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Search..."/>
                        </span>
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="clear(dt)"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="username">Username
                            <p-sortIcon field="username"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="role.roleName">Role
                            <p-sortIcon field="role.roleName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="active">Status
                            <p-sortIcon field="active"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                    <tr>
                        <th></th>
                        <th>
                            <p-columnFilter type="text" field="username"></p-columnFilter>
                        </th>
                        <th></th>
                        <th>
                            <p-columnFilter type="text" field="role.roleName"></p-columnFilter>
                        </th>
                        <th>
                            <p-columnFilter field="active" matchMode="equals" display="menu">
                                <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                    <p-dropdown [ngModel]="value" [options]="statusDropdown"
                                                (onChange)="filter($event.value)"
                                                placeholder="Any">
                                        <ng-template pTemplate="selectedItem">
                                             <span
                                                 [class]="setSelectedDropdownStatus(value, true)">
                                        {{setSelectedDropdownStatus(value, false)}}</span>
                                        </ng-template>
                                        <ng-template let-option pTemplate="item">
                                            <span
                                                [class]="'user-badge status-' + option.label.toLowerCase()">{{option.label}}</span>
                                        </ng-template>
                                    </p-dropdown>
                                </ng-template>
                            </p-columnFilter>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user" *ngIf="user.username != 'Admin'"></p-tableCheckbox>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Username</span>
                            {{user.username}}
                        </td>
                        <td style="min-width:10rem;"><span class="p-column-title">Image</span>
                            <img
                                defaultImage="/assets/demo/images/galleria/spinner.gif"
                                [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/user/download/' + user?.imageUrl  "
                                [alt]="user.imageUrl" width="100"
                                class="shadow-4" src=""/>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Role</span>
                            {{user.role.roleName}}
                        </td>
                        <td style="min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="user.active === true ? 'user-badge status-active' :'user-badge status-inactive'">
                                {{user.active === true ? "Active" : "Inactive"}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple
                                        (click)="openAddOrEditUserDialog(true, user)"
                                        icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                ></button>
                                <button pButton pRipple *ngIf="user.username.toString() != 'Admin'"
                                        (click)="openDeleteUserDialog(user)"
                                        icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <p-dialog [(visible)]="showAddOrEditUserDialog" [style]="{width: '450px'}"
                  header="{{editMode ? 'Edit' : 'Add'}} User" (onHide)="reactiveForm.reset()"
                  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form *ngIf="reactiveForm" [formGroup]="reactiveForm" (ngSubmit)="submit()">
                    <img *ngIf="editMode"
                         [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/user/download/' +
                         userImgUrl "
                         [alt]="this.reactiveForm.value" width="150" class="mt-0 mx-auto mb-3 block shadow-2" src="">
                    <p-fileUpload tabindex="1" id="imageUrl" accept="image/*" [showCancelButton]="false"
                                  [showUploadButton]="false"
                                  maxFileSize="1000000" class="text-center" previewWidth="80"
                                  (onRemove)="onRemoveImage()"
                                  (onSelect)="onSelectedImage($event)"
                                  chooseLabel="{{this.reactiveForm.value.imageUrl ? 'Change':'Choose'}} User Picture">
                    </p-fileUpload>
                    <div *ngIf="reactiveForm.controls.imageUrl.errors && (reactiveForm.controls.imageUrl.touched ||
                           reactiveForm.controls.imageUrl.dirty) ">
                        <div *ngIf="reactiveForm.hasError('required','imageUrl')">
                            <div class="text-center p-2 border-round" style="background-color: #FBE8E6">
                                <small id="imageRequiredMsg" class="p-error">Image is required.</small>
                            </div>
                        </div>
                    </div>

                    <div class="field p-fluid mt-4">
                        <label for="username">Username</label>
                        <input type="text" pInputText id="username" formControlName="username"
                               [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.username.errors &&
                                (reactiveForm.controls.username.touched || reactiveForm.controls.username.dirty)}"/>
                        <div *ngIf="reactiveForm.controls.username.errors && (reactiveForm.controls.username.touched ||
                           reactiveForm.controls.username.dirty) ">
                            <div *ngIf="reactiveForm.hasError('required','username')">
                                <small class="p-error">Username is required.</small>
                            </div>
                            <div *ngIf="reactiveForm.hasError('pattern','username')">
                                <small class="p-error">Username format is invalid.</small>
                            </div>
                            <div *ngIf="reactiveForm.hasError('minlength','username')">
                                <small class="p-error">Username must be 3 characters or more.</small>
                            </div>
                        </div>
                    </div>
                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="userFirstName">First Name</label>
                            <input type="text" pInputText id="userFirstName" formControlName="userFirstName"
                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.userFirstName.errors &&
                                   (reactiveForm.controls.userFirstName.touched ||reactiveForm.controls.userFirstName.dirty)}"/>
                            <div *ngIf="reactiveForm.controls.userFirstName.errors && (reactiveForm.controls.userFirstName.touched ||
                           reactiveForm.controls.userFirstName.dirty) ">
                                <div *ngIf="reactiveForm.hasError('required','userFirstName')">
                                    <small class="p-error">First Name is required</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('pattern','userFirstName')">
                                    <small class="p-error">First Name format is invalid</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('minlength','userFirstName')">
                                    <small class="p-error">First Name must be 3 characters or more</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="userLastName">Last Name</label>
                            <input type="text" pInputText id="userLastName" formControlName="userLastName"
                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.userLastName.errors &&
                                   (reactiveForm.controls.userLastName.touched || reactiveForm.controls.userLastName.dirty)}"/>
                            <div *ngIf="reactiveForm.controls.userLastName.errors && (reactiveForm.controls.userLastName.touched ||
                           reactiveForm.controls.userLastName.dirty) " style="color: red">
                                <div *ngIf="reactiveForm.hasError('required','userLastName')">
                                    <small class="p-error">Last Name is required</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('pattern','userLastName')">
                                    <small class="p-error">Last Name format is invalid</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('minlength','userLastName')">
                                    <small class="p-error">Last Name must be 3 characters or more</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12">
                            <label for="gender" class="mb-3">Gender</label>
                            <div class="formgrid grid">
                                <div class="field-radiobutton col-12">
                                    <p-radioButton id="gender" name="gender" formControlName="gender"
                                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.gender.errors && (reactiveForm.controls.gender.touched ||
                           reactiveForm.controls.gender.dirty)}"
                                                   value="Male"></p-radioButton>
                                    <label for="gender">Male</label>
                                </div>
                                <div class="field-radiobutton col-12">
                                    <p-radioButton id="category2" name="gender" formControlName="gender"
                                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.gender.errors && (reactiveForm.controls.gender.touched ||
                           reactiveForm.controls.gender.dirty)}"
                                                   value="Female"></p-radioButton>
                                    <label for="category2">Female</label>
                                </div>
                            </div>
                            <div *ngIf="reactiveForm.controls.gender.errors && (reactiveForm.controls.gender.touched ||
                           reactiveForm.controls.gender.dirty) ">
                                <div *ngIf="reactiveForm.hasError('required','gender')">
                                    <small class="p-error">Gender is not selected</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="dateJoined">Date Joined</label>
                            <p-calendar id="dateJoined" formControlName="dateJoined" dateFormat="dd/mm/yy"
                                        appendTo="body"
                                        [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.dateJoined.errors && (reactiveForm.controls.dateJoined.touched ||
                           reactiveForm.controls.dateJoined.dirty)}"></p-calendar>
                            <div *ngIf="reactiveForm.controls.dateJoined.errors && (reactiveForm.controls.dateJoined.touched ||
                           reactiveForm.controls.dateJoined.dirty) " style="color: red">
                                <div *ngIf="reactiveForm.hasError('required','dateJoined')">
                                    <small class="p-error">Date is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="email">Email</label>
                            <input type="text" pInputText id="email" formControlName="email"
                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.email.errors && (reactiveForm.controls.email.touched ||
                           reactiveForm.controls.email.dirty)}"/>
                            <div *ngIf="reactiveForm.controls.email.errors && (reactiveForm.controls.email.touched ||
                           reactiveForm.controls.email.dirty) ">
                                <div *ngIf="reactiveForm.controls.email.errors && (reactiveForm.controls.email.touched ||
                           reactiveForm.controls.email.dirty) " style="color: red">
                                    <div *ngIf="reactiveForm.hasError('required','email')">
                                        <small class="p-error">Email is required</small>
                                    </div>
                                    <div *ngIf="reactiveForm.hasError('pattern','email')">
                                        <small class="p-error">Email format is invalid</small>
                                    </div>
                                    <div *ngIf="reactiveForm.hasError('minlength','email')">
                                        <small class="p-error">Email must be 3 characters or more</small>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12">
                            <label for="address">Address</label>
                            <input type="text" pInputText id="address" formControlName="address"
                                   [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.address.errors && (reactiveForm.controls.address.touched ||
                           reactiveForm.controls.address.dirty)}"/>
                            <div *ngIf="reactiveForm.controls.address.errors && (reactiveForm.controls.address.touched ||
                           reactiveForm.controls.address.dirty) ">
                                <div *ngIf="reactiveForm.hasError('required','address')">
                                    <small class="p-error">Address is required</small>
                                </div>
                            </div>
                        </div>


                        <div class="field col-12 md:col-6">
                            <label for="active">Status</label>
                            <p-dropdown id="active" [options]="statusDropdown" [showClear]="true"
                                        appendTo="body"
                                        formControlName="active" placeholder="Select a Status"
                                        [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.active.errors &&
                                           (reactiveForm.controls.active.touched ||
                           reactiveForm.controls.active.dirty)}">
                                <ng-template pTemplate="selectedItem">
                                    <span
                                        [class]="setSelectedDropdownStatus(this.reactiveForm.value.active, true)">
                                        {{setSelectedDropdownStatus(this.reactiveForm.value.active, false)}}</span>
                                </ng-template>
                                <ng-template let-status pTemplate="status">
                                    <span
                                        [class]="'user-badge status-' + status.label.toLowerCase()">{{status.label}}</span>
                                </ng-template>
                            </p-dropdown>

                            <div *ngIf="reactiveForm.controls.active.errors && (reactiveForm.controls.active.touched ||
                           reactiveForm.controls.active.dirty) ">
                                <div *ngIf="reactiveForm.hasError('required','active')">
                                    <small class="p-error">Status is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="role">Role</label>
                            <div formGroupName="role">
                                <p-dropdown id="role" [options]="roleDropdown"
                                            [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.get('role.roleName').errors && (reactiveForm.get('role.roleName').touched ||
                           reactiveForm.get('role.roleName').dirty)}"
                                            formControlName="roleName"
                                            appendTo="body"
                                            placeholder="Select a Role"
                                            [showClear]="true"></p-dropdown>
                            </div>
                            <div *ngIf="reactiveForm.get('role.roleName').errors && (reactiveForm.get('role.roleName').touched ||
                           reactiveForm.get('role.roleName').dirty) ">
                                <div *ngIf="reactiveForm.hasError('required', 'role.roleName')">
                                    <small class="p-error">Role is required</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="bankAccount">Bank Account</label>
                            <p-inputNumber id="bankAccount" formControlName="bankAccount" [useGrouping]="false"
                                           [min]="0" [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.bankAccount.errors &&
                                           (reactiveForm.controls.bankAccount.touched ||
                           reactiveForm.controls.bankAccount.dirty)}"></p-inputNumber>
                            <div *ngIf="reactiveForm.controls.bankAccount.errors && (reactiveForm.controls.bankAccount.touched ||
                           reactiveForm.controls.bankAccount.dirty) " style="color: red">
                                <div *ngIf="reactiveForm.hasError('required','bankAccount')">
                                    <small class="p-error">Bank Account is required</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('pattern','bankAccount')">
                                    <small class="p-error">Bank Account must be a number</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('min','bankAccount')">
                                    <small class="p-error">Bank Account minimum is 5 characters</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('max','bankAccount')">
                                    <small class="p-error">Bank Account maximum is 10 characters</small>
                                </div>
                            </div>
                        </div>

                        <div class="field col-12 md:col-6">
                            <label for="phoneNumber">Phone Number</label>
                            <p-inputNumber id="phoneNumber" formControlName="phoneNumber" [useGrouping]="false"
                                           [min]="0" [ngClass]="{'ng-invalid ng-dirty' : reactiveForm.controls.phoneNumber.errors &&
                                           (reactiveForm.controls.phoneNumber.touched ||
                           reactiveForm.controls.phoneNumber.dirty)}"></p-inputNumber>
                            <div *ngIf="reactiveForm.controls.phoneNumber.errors && (reactiveForm.controls.phoneNumber.touched ||
                           reactiveForm.controls.phoneNumber.dirty) ">
                                <div *ngIf="reactiveForm.hasError('required','phoneNumber')">
                                    <small class="p-error">Phone number is required</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('pattern','phoneNumber')">
                                    <small class="p-error">Phone number format is invalid</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('min','phoneNumber')">
                                    <small class="p-error">Phone number cannot be less than 5 characters</small>
                                </div>
                                <div *ngIf="reactiveForm.hasError('max','phoneNumber')">
                                    <small class="p-error">Phone number maximum characters reached</small>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <button pButton pRipple *ngIf="editMode" label="Reset Password"
                        icon="pi pi-refresh"
                        class="p-button-danger"></button>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple (click)="showAddOrEditUserDialog = false" label="Cancel" icon="pi pi-times"
                        class="p-button-text"></button>
                <button pButton pRipple
                        (click)="submit()"
                        label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '450px'}"
                         icon="pi pi-exclamation-triangle">
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="cd.reject()"></button>
                <button pButton pRipple
                        (click)="cd.accept()"
                        icon="pi pi-check" class="p-button-text" label="Yes"
                ></button>
            </ng-template>
        </p-confirmDialog>

    </div>
</div>
