<div class="grid">
    <div class="col-12">
        <div class="card">
            <!--            <p-toast></p-toast>-->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Add User" icon="pi pi-plus"
                                class="p-button-success mr-2"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"

                                [disabled]="!selectedUsers || !selectedUsers.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"
                            (click)="dt.exportCSV()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="users" [columns]="cols" responsiveLayout="scroll"
                     [globalFilterFields]="['username','role.roleName','active']" [rows]="10"
                     [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedUsers" selectionMode="multiple" [rowHover]="true" dataKey="username">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage Users</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Search..."/>
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="username">Username
                            <p-sortIcon field="username"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="role.roleName">Role
                            <p-sortIcon field="role.roleName"></p-sortIcon>
                        </th>
                        <th pSortableColumn="active">Status
                            <p-sortIcon field="active"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-user>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="user"></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Username</span>
                            {{user.username}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Image</span>
                            <img [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/user/download/' + user?.imageUrl  "
                                 [alt]="user.imageUrl" width="100"
                                 class="shadow-4"/>
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Role</span>
                            {{user.role.roleName}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">Status</span>
                            <span
                                [class]="user.active === true ? 'user-badge status-active' :'user-badge status-inactive'">
                                {{user.active === true ? "Active" :"Inactive"}}</span>
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                ></button>
                                <button
                                    *ngIf="user.username.toString() != 'Admin'"
                                    (click)="deleteUser(user)"
                                    pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>

        <p-dialog [(visible)]="deleteUserDialog" header="Confirm" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span *ngIf="user">Are you sure you want to delete <b>{{user.username}}</b>?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="deleteUserDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                        ></button>
            </ng-template>
        </p-dialog>
    </div>
</div>
