<div class="grid">
    <div class="col-12">
        <div class="card">
            <!--            <p-toast></p-toast>-->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="Add User" icon="pi pi-plus"
                                class="p-button-success mr-2"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                   <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" placeholder="Search..."/>
                        </span>
                </ng-template>
            </p-toolbar>
        </div>
    </div>
</div>
