<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Product Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter product information
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="this.productService.detailFg" (ngSubmit)="nextPage()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" formControlName="name"
                               [ngClass]="{'ng-invalid ng-dirty' : this.productService.detailFg.controls.name.errors &&
                                            (this.productService.detailFg.controls.name.touched || this.productService.detailFg.controls.name.dirty)}"/>
                        <div *ngIf="this.productService.detailFg.controls.name.errors && (this.productService.detailFg.controls.name.touched ||
                                       this.productService.detailFg.controls.name.dirty) ">
                            <div *ngIf="this.productService.detailFg.hasError('required','name')">
                                <small class="p-error">Name is required.</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('minLength','name')">
                                <small class="p-error">Name must be 3 characters or more.</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('maxLength','name')">
                                <small class="p-error">Name characters exceeded (Max 20)</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('taken','name')">
                                <small class="p-error">Product name already taken</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="active">Active Status</label>
                        <p-dropdown id="active" [options]="statusDropdown" [showClear]="true"
                                    appendTo="body"
                                    formControlName="active" placeholder="Choose..."
                                    [ngClass]="{'ng-invalid ng-dirty' : this.productService.detailFg.controls.active.errors &&
                                                       (this.productService.detailFg.controls.active.touched ||
                                       this.productService.detailFg.controls.active.dirty)}">
                            <ng-template pTemplate="selectedItem">
                                                <span
                                                    [class]="this.productService.detailFg.value.active ? 'item-badge status-true': 'item-badge status-false'">
                                                    {{this.productService.detailFg.value.active ? 'Active' : 'Inactive'}}</span>
                            </ng-template>
                            <ng-template let-status pTemplate="status">
                                                <span
                                                    [class]="'item-badge status-' + status.value">{{status.label}}</span>
                            </ng-template>
                        </p-dropdown>

                        <div *ngIf="this.productService.detailFg.controls.active.errors && (this.productService.detailFg.controls.active.touched ||
                                       this.productService.detailFg.controls.active.dirty) ">
                            <div *ngIf="this.productService.detailFg.hasError('required','active')">
                                <small class="p-error">Active Status is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4" formGroupName="category">
                        <label for="active">Category</label>
                        <p-dropdown #categoryDropdown id="id" [options]="this.productModel.categoryDropdown.category" [showClear]="true"
                                    appendTo="body" formControlName="id" placeholder="Choose..."
                                    (onChange)="onSelectedCategory(categoryDropdown)"
                                    [ngClass]="{'ng-invalid ng-dirty' : this.productService.detailFg.get('category.id').errors &&
                                     (this.productService.detailFg.get('category.id').touched || this.productService.detailFg.get('category.id').dirty)}">
                            <ng-template let-category>
                                <span>{{category?.categoryName}}</span>
                            </ng-template>
                        </p-dropdown>

                        <div *ngIf="this.productService.detailFg.get('category.id').errors && (this.productService.detailFg.get('category.id').touched ||
                                       this.productService.detailFg.get('category.id').dirty) ">
                            <div *ngIf="this.productService.detailFg.hasError('required','category.id')">
                                <small class="p-error">Category is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="totalCalories">Total Calorie</label>
                        <p-inputNumber id="totalCalories" [useGrouping]="false" [min]="0"
                                       formControlName="totalCalories" suffix=" Cals"
                                       [ngClass]="{'ng-invalid ng-dirty' : this.productService.detailFg.get('totalCalories').errors &&
                                                       (this.productService.detailFg.get('totalCalories').touched || this.productService.detailFg.get('totalCalories').dirty)}">
                        </p-inputNumber>

                        <div *ngIf="this.productService.detailFg.get('totalCalories').errors &&
                                                       (this.productService.detailFg.get('totalCalories').touched || this.productService.detailFg.get('totalCalories').dirty)">
                            <div *ngIf="this.productService.detailFg.hasError('required','totalCalories')">
                                <small class="p-error">Total calories is required</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('maxNumber','totalCalories')">
                                <small class="p-error">Maximum total calories 10000</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12">
                        <label for="description">Description</label>
                        <textarea id="description" rows="5" cols="30" pInputTextarea autoResize="true"
                                  formControlName="description"
                                  [ngClass]="{'ng-invalid ng-dirty' : this.productService.detailFg.get('description').errors &&
                                                       (this.productService.detailFg.get('description').touched || this.productService.detailFg.get('description').dirty)}">
                                        </textarea>

                        <div *ngIf="this.productService.detailFg.get('description').errors &&
                                                       (this.productService.detailFg.get('description').touched || this.productService.detailFg.get('description').dirty)">
                            <div *ngIf="this.productService.detailFg.hasError('required','description')">
                                <small class="p-error">Product description is required</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('minLength','description')">
                                <small class="p-error">Product description minimum length is 20 characters</small>
                            </div>
                            <div *ngIf="this.productService.detailFg.hasError('maxLength','description')">
                                <small class="p-error">Product description maximum length is 100 characters</small>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>

</div>
