<div class="card">
    <h5>Payment</h5>

    <div *ngIf="!isDoneCheckingCamera" class="flex justify-content-center align-items-center">
        <p-progressSpinner></p-progressSpinner>
    </div>

    <div [ngSwitch]="customerId">
        <form [formGroup]="waitingListFg">

            <!-- the same view can be shown in more than one case -->
            <div *ngSwitchCase="null">
                <div class="p-fluid p-formgrid grid px-4 py-4">
                    <div class="field col-12">
                        <div class="relative">
                            <input #username pInputText formControlName="username" type="text"
                                   placeholder="Enter customer username"
                                   class="py-3 pl-3 w-full"
                                   style="border-radius: 30px;padding-right: 8rem"
                                   [ngClass]="{'ng-invalid ng-dirty' : waitingListFg.controls.username.errors &&
                                            (waitingListFg.controls.username.touched ||
                                            waitingListFg.controls.username.dirty)}"/>
                            <button (click)="onConfirmPaymentByUsername(username.value)"
                                    class="p-3 absolute appearance-none p-component border-none bg-indigo-500 hover:bg-indigo-600 active:bg-indigo-700 text-white outline-none h-full cursor-pointer"
                                    style="border-radius: 30px; top: 0; right: 0">Confirm
                            </button>
                        </div>
                        <p-messages [value]="searchByUsernameMsg"></p-messages>
                    </div>

                    <div class="field col-12">
                        <zxing-scanner *ngIf="isCameraAvl"
                                       [autofocusEnabled]="true"
                                       [device]="currentDevice"
                                       [tryHarder]="true"
                                       (camerasFound)="onCheckingCamera(true)"
                                       (camerasNotFound)="onCheckingCamera(false)"
                                       (scanSuccess)="onConfirmPaymentByQrCode($event)">
                        </zxing-scanner>

                        <div *ngIf="!isCameraAvl"
                             class="flex align-items-start p-4 bg-yellow-100 border-round border-1 border-yellow-300">
                            <i class="pi pi-info-circle text-yellow-900 text-2xl mr-3"></i>
                            <div class="mr-3">
                                <p class="m-0 p-0 text-yellow-700 mb-3 line-height-3">Camera not detected on this device.
                                    QR Scan method not available.</p>
                            </div>
                            <div class="ml-auto">
                                <a pRipple
                                   class="inline-flex align-items-center justify-content-center ml-auto border-circle hover:bg-yellow-50 no-underline cursor-pointer transition-colors transition-duration-150"
                                   style="width:1.5rem;height:1.5rem">
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--default case when there are no matches -->
            <div *ngSwitchDefault>
                <div class="surface-section">
                    <div class="grid grid-nogutter">
                        <div class="col-12 lg:col-6 h-full px-4 py-8 md:px-6 lg:px-8">
                            <div class="p-fluid p-formgrid grid">
                                <div class="col-12 field mb-4">
                                    <span class="text-900 text-2xl block font-medium">
                                        Customer Information
                                    </span>
                                </div>

                                <div class="col-12 field mb-4">
                                    <label>Customer ID</label>
                                    <input id="address" placeholder="Customer Id" [readonly]="true" type="text"
                                           formControlName="id"
                                           class="p-inputtext w-full">
                                </div>

                                <div class="col-12 field mb-4">
                                    <label>Username</label>
                                    <input id="address2" placeholder="Username" [readonly]="true" type="text"
                                           formControlName="username"
                                           class="p-inputtext w-full">
                                </div>

                                <div class="col-12">
                                    <label class="font-bold">Estimated Time</label>
                                </div>

                                <div class="field col-4">
                                    <p-inputNumber [showButtons]="true" formControlName="estHour" [min]="0" [max]="24"
                                                   buttonLayout="vertical" inputId="vertical"
                                                   suffix=" Hour" decrementButtonClass="p-button-secondary"
                                                   incrementButtonClass="p-button-secondary"
                                                   incrementButtonIcon="pi pi-plus"
                                                   decrementButtonIcon="pi pi-minus">
                                    </p-inputNumber>
                                </div>

                                <div class="field col-4">
                                    <p-inputNumber [showButtons]="true" formControlName="estMinute" [min]="0" [max]="60"
                                                   buttonLayout="vertical" inputId="vertical" suffix=" Minute"
                                                   decrementButtonClass="p-button-secondary"
                                                   incrementButtonClass="p-button-secondary"
                                                   incrementButtonIcon="pi pi-plus"
                                                   decrementButtonIcon="pi pi-minus">
                                    </p-inputNumber>
                                </div>

                                <div class="field col-4">
                                    <p-inputNumber [showButtons]="true" formControlName="estSecond" [min]="0" [max]="60"
                                                   buttonLayout="vertical" inputId="vertical" suffix=" Second"
                                                   decrementButtonClass="p-button-secondary"
                                                   incrementButtonClass="p-button-secondary"
                                                   incrementButtonIcon="pi pi-plus"
                                                   decrementButtonIcon="pi pi-minus">
                                    </p-inputNumber>
                                </div>

                                <!--                                <button pButton pRipple class="p-button-success" label="Save" icon="pi pi-check"></button>-->
                                <!--                                <button pButton pRipple class="p-button-warning" label="Reset" icon="pi pi-trash"></button>-->
                                <!--                                <button pButton pRipple class="p-button-danger" label="Cancel" icon="pi pi-times"></button>-->

                                <div class="col-12 md:col-6">
                                    <button pButton pRipple (click)="onResetQrCode()"
                                            class="p-button-text"
                                            label="Reset"></button>
                                </div>

                                <div class="col-12 md:col-6">
                                    <button pButton pRipple (click)="onCompletePayment()"
                                            class="p-button-primary"
                                            label="Confirm"></button>
                                </div>

                            </div>

                        </div>
                        <div class="col-12 lg:col-6 px-4 py-8 md:px-6 lg:px-8 surface-50">
                            <div class="border-bottom-1 pb-3 surface-border">
                                <span class="text-900 font-medium text-xl">Customer Cart</span>
                            </div>

                            <div *ngFor="let product of productList"
                                 class="flex flex-column lg:flex-row flex-wrap lg:align-items-center py-2 mt-3 border-bottom-1 surface-border">
                                <img defaultImage="/assets/demo/images/galleria/spinner.gif"
                                     [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/product/download/file?' +
                                'imageName=' + product?.product.images[0]?.imageName + '&' +
                                'productId=' + product.id "
                                     class="w-8rem h-8rem flex-shrink-0 mb-3"/>
                                <div class="flex-auto lg:ml-3">
                                    <div class="flex align-items-center justify-content-between mb-3">
                                        <span class="text-900 font-medium">{{product.name}}</span>
                                        <span
                                            class="text-900 font-bold">{{product.discountedPrice | currency :
                                            'Rp. '}}</span>
                                    </div>
                                    <div class="flex flex-auto justify-content-between align-items-center">
                                        <p-inputNumber [showButtons]="false" [readonly]="true"
                                                       ngModel="{{product.quantity}}"
                                                       [ngModelOptions]="{standalone: true}"
                                                       buttonLayout="horizontal" spinnerMode="horizontal" min="0"
                                                       inputStyleClass="w-2rem text-center py-2 px-1 border-transparent"
                                                       class="border-1 surface-border border-round"
                                        ></p-inputNumber>
                                    </div>
                                </div>
                            </div>

                            <div class="py-2 mt-3">
                                <div class="flex justify-content-between align-items-center mb-3">
                                    <span class="text-900 font-medium">Subtotal</span>
                                    <span class="text-900">{{totalPrice | currency: 'Rp. '}}</span>
                                </div>
                                <div class="flex justify-content-between align-items-center mb-3">
                                    <span class="text-900 font-medium">Tax</span>
                                    <span class="text-primary font-bold">Free</span>
                                </div>
                                <div class="flex justify-content-between align-items-center mb-3">
                                    <span class="text-900 font-bold">Total</span>
                                    <span class="text-900 font-medium text-xl">{{totalPrice | currency: 'Rp. '}}
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
