<div class="surface-0 flex align-items-center justify-content-center min-h-screen min-w-screen overflow-hidden">
    <div class="grid justify-content-center p-2 lg:p-0" style="min-width:80%">
        <div class="col-12  xl:mt-0 text-center">
            <img src="assets/layout/images/{{config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="Sakai logo"
                 class="mb-5" style="width:81px; height:60px;">
        </div>
        <div class="col-12 xl:col-6"
             style="border-radius:56px; padding:0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%);">
            <div class="h-full w-full m-0 py-7 px-4"
                 style="border-radius:53px; background: linear-gradient(180deg, var(--surface-50) 38.9%, var(--surface-0));">
                <div class="text-center mb-5">
                    <div #welcome class="text-900 text-3xl font-medium mb-3">Welcome!</div>
                    <span class="text-600 font-medium">Sign in to continue</span>
                </div>

                <form [formGroup]="loginForm" autocomplete="off">
                    <div class="p-fluid p-formgrid grid md:w-10 mx-auto">
                        <div class="col-12">
                            <label for="userName" class="block text-900 text-xl font-medium mb-2">Username</label>
                            <input id="userName" type="text" placeholder="Username"
                                   formControlName="userName"
                                   pInputText class="w-full mb-2"
                                   style="padding:1rem;">
                            <div *ngIf="loginForm.controls.userName.errors && (loginForm.controls.userName.touched ||
                                       loginForm.controls.userName.dirty) ">
                                <div *ngIf="loginForm.hasError('required','userName')">
                                    <small class="p-error">Username is required.</small>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <label for="userPassword" class="block text-900 font-medium text-xl mb-2">Password</label>
                            <input id="userPassword" type="password" placeholder="Password"
                                   formControlName="userPassword"
                                   pInputText/>
                            <div *ngIf="loginForm.controls.userPassword.errors && (loginForm.controls.userPassword.touched ||
                                       loginForm.controls.userPassword.dirty) ">
                                <div *ngIf="loginForm.hasError('required','userPassword')">
                                    <small class="p-error">Password is required.</small>
                                </div>
                            </div>

                            <p-messages [value]="resetPasswordMsg"></p-messages>

                        </div>

                        <div class="field col-12">
                            <button [loading]="isButtonLoading" (click)="login()"
                                    pButton pRipple label="Sign In" class="w-full p-3 text-xl"></button>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
