<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openAddOrEditProductDialog(false)"
                            pButton pRipple label="Add Product" icon="pi pi-plus"
                            class="p-button-success mr-2"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"
                                (click)="onDeleteSelectedProducts()"
                                [disabled]="!selectedProducts || !selectedProducts.length"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
                            pTooltip="CSV" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-excel"
                            class="p-button-success mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
                    <button type="button" pButton pRipple icon="pi pi-file-pdf"
                            class="p-button-warning mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="dataTblProducts" [columns]="cols" responsiveLayout="scroll" [lazy]="true"
                     [loading]="tblProductLoading" (onLazyLoad)="loadProducts($event)" [totalRecords]="totalTblProduct"
                     [globalFilterFields]="['name','discount','category.categoryName','totalCalories','description',
                     'unitPrice', 'discountedPrice', 'active']" [rows]="10" [paginator]="true" selectionMode="multiple"
                     [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" [rowHover]="true" dataKey="id"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                     [(selection)]="selectedProducts">
                <ng-template pTemplate="caption">
                    <div [formGroup]="searchFormGroup">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Manage Products</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                                <!--suppress TypeScriptUnresolvedVariable -->
                            <input pInputText formControlName="searchInput"
                                   placeholder="Search..."/>
                        </span>
                        </div>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="name">Product Name
                            <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th>Image</th>
                        <th pSortableColumn="description">Description
                            <p-sortIcon field="description"></p-sortIcon>
                        </th>
                        <th pSortableColumn="unitPrice">Unit Price
                            <p-sortIcon field="unitPrice"></p-sortIcon>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Username</span>
                            {{product.name}}
                        </td>
                        <td style="min-width:10rem;"><span class="p-column-title">Image</span>
                            <img
                                defaultImage="/assets/demo/images/galleria/spinner.gif"
                                [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/product/download/' +  product?.images[0]?.imageName  "
                                width="100"
                                class="shadow-4" src="" [alt]="product?.images[0]?.imageName"/>
                        </td>
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Description</span>
                            {{product.description}}
                        </td>
                        <!--suppress TypeScriptUnresolvedFunction -->
                        <td style="min-width:10rem;">
                            <span class="p-column-title">Price</span>
                            {{product.unitPrice | currency:'Rp. ':'symbol':'3.0'}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple

                                        icon="pi pi-pencil"
                                        class="p-button-rounded p-button-success mr-2"
                                ></button>
                                <button pButton pRipple
                                        icon="pi pi-trash" class="p-button-rounded p-button-warning"
                                ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="showAddOrEditProductDialog" [style]="{width: '450px'}"
                  header="{{editMode ? 'Edit' : 'Add'}} Product"
                  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form [formGroup]="productFg" (ngSubmit)="submit()">
                    <div class="field">
                        <label for="name">Name</label>
                        <input type="text" pInputText id="name" formControlName="name"
                               [ngClass]="{'ng-invalid ng-dirty' : productFg.controls.name.errors &&
                                (productFg.controls.name.touched || productFg.controls.name.dirty)}"/>
                        <div *ngIf="productFg.controls.name.errors && (productFg.controls.name.touched ||
                           productFg.controls.name.dirty) ">
                            <div *ngIf="productFg.hasError('required','name')">
                                <small class="p-error">Name is required.</small>
                            </div>
                            <div *ngIf="productFg.hasError('minLength','name')">
                                <small class="p-error">Name must be 3 characters or more.</small>
                            </div>
                            <div *ngIf="productFg.hasError('maxLength','name')">
                                <small class="p-error">Name characters exceeded</small>
                            </div>
                        </div>
                    </div>

                    <div class="formgrid grid">
                        <div class="field col-12 md:col-6">
                            <label for="active">Status</label>
                            <p-dropdown id="active" [options]="statusDropdown" [showClear]="true"
                                        appendTo="body"
                                        formControlName="active" placeholder="Select a Status"
                                        [ngClass]="{'ng-invalid ng-dirty' : productFg.controls.active.errors &&
                                           (productFg.controls.active.touched ||
                           productFg.controls.active.dirty)}">
                                <ng-template pTemplate="selectedItem">
                                    <span
                                        [class]="setSelectedDropdownStatus(this.productFg.value.active, true)">
                                        {{setSelectedDropdownStatus(this.productFg.value.active, false)}}</span>
                                </ng-template>
                                <ng-template let-status pTemplate="status">
                                    <span
                                        [class]="'product-badge status-' + status.label.toLowerCase()">{{status.label}}</span>
                                </ng-template>
                            </p-dropdown>

                            <div *ngIf="productFg.controls.active.errors && (productFg.controls.active.touched ||
                           productFg.controls.active.dirty) ">
                                <div *ngIf="productFg.hasError('required','active')">
                                    <small class="p-error">Active Status is required</small>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>

                <button pButton pRipple *ngIf="editMode" label="Reset Password"
                        icon="pi pi-refresh"
                        class="p-button-danger"></button>

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple (click)="showAddOrEditProductDialog = false" label="Cancel" icon="pi pi-times"
                        class="p-button-text"></button>
                <button pButton pRipple
                        (click)="submit()"
                        label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
