<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{appMain.config.dark ? 'logo-white' : 'logo-dark'}}.svg" alt="logo">
        <span>Self Service</span>
    </a>

    <a class="p-link layout-menu-button layout-topbar-button" href="#" (click)="appMain.toggleMenu($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a class="p-link layout-topbar-menu-button layout-topbar-button" href="#" (click)="appMain.toggleTopMenu($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <div class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active':appMain.topMenuActive}">
        <!--        <a href="#" class="p-link layout-topbar-button">-->
        <!--            <i class="pi pi-calendar"></i>-->
        <!--            <span>Calendar</span>-->
        <!--        </a>-->
        <a class="p-link layout-topbar-button" (click)="onLogout()">
            <i class="pi pi-power-off"></i>
            <span>Logout</span>
        </a>
        <a (click)="menu.toggle($event)" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            <span>Profile</span>
        </a>
    </div>
</div>

<p-dialog [(visible)]="showChangePasswordDialog" [style]="{width: '450px'}" [draggable]="false"
          header="Change Password" (onHide)="authS.changePasswordForm.reset()"
          [modal]="true" class="p-fluid">
    <ng-template pTemplate="content">
        <form *ngIf="authS.changePasswordForm" [formGroup]="authS.changePasswordForm"
              (ngSubmit)="submit()">
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12">
                    <label for="question">Current Password</label>
                    <input type="text"
                           pInputText id="question" formControlName="oldPassword"
                           [ngClass]="{'ng-invalid ng-dirty' : authS.changePasswordForm.get('oldPassword').errors &&
                                   authS.changePasswordForm.get('oldPassword').touched
                                   || authS.changePasswordForm.get('oldPassword').dirty}"/>
                    <small *ngIf="authS.changePasswordForm.get('oldPassword').errors
                                &&  (authS.changePasswordForm.get('oldPassword').touched ||
                                authS.changePasswordForm.get('oldPassword').dirty)"
                           class="p-error">{{authS.changePasswordForm.get('oldPassword')["errorMessage"]}}</small>
                </div>
            </div>

        </form>
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple (click)="showChangePasswordDialog = false" label="Cancel" icon="pi pi-times"
                class="p-button-text"></button>
        <button pButton pRipple
                (click)="submit()"
                label="Save" icon="pi pi-check" class="p-button-text"></button>
    </ng-template>
</p-dialog>


<p-menu #menu [popup]="true" [model]="authMenus"></p-menu>

