<div class="grid">
    <div class="col-12">

        <div class="card">
            <h5>Waiting List</h5>
            <p-dataView #dv [value]="waitingLists" [paginator]="true" [rows]="9" filterBy="customerName"
                        [loading]="isLoadingWaitingList" layout="list">
                <ng-template let-waitingList pTemplate="listItem">
                    <div class="col-12">
                        <div class="flex flex-column md:flex-row align-items-center p-3 w-full">
                            <div class="flex-1 text-center md:text-left">
                                <div class="font-bold text-2xl">{{waitingList.number}}</div>
                                <div class="mb-3">
                                    <countdown [config]="{ stopTime: waitingList.estTime}"
                                               (event)="onTimerFinished($event, waitingList.status.toUpperCase(), waitingList.id)">
                                    </countdown>
                                </div>
                                <div class="flex align-items-center mt-2">
                                    <i class="pi pi-user mr-2"></i>
                                    <span class="font-semibold">{{waitingList.customerName}}</span>
                                </div>
                            </div>
                            <div
                                class="flex flex-row md:flex-column justify-content-between w-full md:w-auto align-items-center md:align-items-end mt-5 md:mt-0">
                                <div class="mb-2">
                                    <button pButton pRipple pTooltip="Edit" tooltipPosition="bottom" [loading]="isOnHttpRequest"
                                            [disabled]="waitingList.status.toUpperCase() != 'WAITING'" icon="pi pi-pencil"
                                            class="p-button-rounded p-button-warning mr-2"></button>
                                    <button pButton pRipple pTooltip="Set ready to pickup" tooltipPosition="bottom"
                                            (click)="onSetOrderStatus(true, waitingList)"
                                            [disabled]="waitingList.status.toUpperCase() != 'WAITING'" [loading]="isOnHttpRequest"
                                            icon="pi pi-check" class="p-button-rounded p-button-success mr-2">
                                    </button>
                                    <button pButton pRipple pTooltip="Message" tooltipPosition="bottom" [loading]="isOnHttpRequest"
                                            [disabled]="waitingList.status.toUpperCase() != 'WAITING'"
                                            icon="pi pi-volume-up" (click)="onNotifyCustomer(waitingList)"
                                            class="p-button-rounded p-button-info">
                                    </button>
                                </div>
                                <span
                                    [class]="'waiting-list-badge status-' + waitingList.status.toUpperCase().toLowerCase()">
                                    {{waitingList.status.toUpperCase()}}
                                </span>
                            </div>
                        </div>
                    </div>
                </ng-template>

            </p-dataView>
        </div>

    </div>
</div>
