<div class="grid">
    <div class="col-12">
        <div class="card">
            <h4>Profile</h4>
            <form *ngIf="this.profileService.formProfile" [formGroup]="this.profileService.formProfile">
                <div class="grid formgrid p-fluid">
                    <div class="field mb-4 col-12">
                        <label for="username" class="font-medium">Username</label>
                        <input id="username" formControlName="username" type="text" pInputText>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                        <label for="userFirstName" class="font-medium">First Name</label>
                        <input id="userFirstName" formControlName="userFirstName" type="text" pInputText>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                        <label for="userLastName" class="font-medium">Last Name</label>
                        <input id="userLastName" formControlName="userLastName" type="text" pInputText>
                    </div>

                    <div class="field col-12  md:col-6">
                        <label for="gender" class="mb-3">Gender</label>
                        <div class="formgrid grid">
                            <div class="field-radiobutton col-12">
                                <p-radioButton id="gender" name="gender" formControlName="gender"
                                               [ngClass]="{'ng-invalid ng-dirty' : profileService.formProfile.controls.gender.errors && (profileService.formProfile.controls.gender.touched ||
                           profileService.formProfile.controls.gender.dirty)}"
                                               value="Male"></p-radioButton>
                                <label for="gender">Male</label>
                            </div>
                            <div class="field-radiobutton col-12">
                                <p-radioButton id="category2" name="gender" formControlName="gender"
                                               [ngClass]="{'ng-invalid ng-dirty' : profileService.formProfile.controls.gender.errors && (profileService.formProfile.controls.gender.touched ||
                           profileService.formProfile.controls.gender.dirty)}"
                                               value="Female"></p-radioButton>
                                <label for="category2">Female</label>
                            </div>
                        </div>
                        <div *ngIf="profileService.formProfile.controls.gender.errors && (profileService.formProfile.controls.gender.touched ||
                           profileService.formProfile.controls.gender.dirty) ">
                            <div *ngIf="profileService.formProfile.hasError('required','gender')">
                                <small class="p-error">Gender is not selected</small>
                            </div>
                        </div>
                    </div>


                    <div class="field mb-4 col-12 md:col-6">
                        <label for="avatar" class="font-medium">Avatar</label>
                        <div class="flex align-items-center">
                            <img
                                *ngIf="profileService.formProfile.get('id').value && profileService.formProfile.get('imageUrl').value"
                                defaultImage="/assets/demo/images/galleria/spinner.gif"
                                [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/user/download?' +
                         'userId='+ profileService.formProfile.get('id').value + '&'+ 'imageName=' + profileService.formProfile.get('imageUrl').value "
                                [alt]="profileService.formProfile.get('imageUrl').value"
                                class="mr-4 w-7rem h-7rem" style="border-radius: 50%"/>
                            <p-fileUpload id="avatar" #avatar mode="basic" multiple="multiple" accept="image/*" (onSelect)="onSelectedImage($event)"
                                          [cancelLabel]="'Clear'" [showCancelButton]="true" maxFileSize="1000000" styleClass="p-button-outlined p-button-plain"
                                          chooseLabel="Upload Image"></p-fileUpload>
                        </div>
                    </div>

                    <div class="surface-100 mb-3 col-12" style="height:2px"></div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="email" class="font-medium">Email</label>
                        <input id="email" formControlName="email" type="text" pInputText>
                    </div>

                    <div class="field mb-4 col-12 md:col-6">
                        <label for="address" class="font-medium">Address</label>
                        <input id="address" formControlName="address" type="text" pInputText>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="bankAccount" class="font-medium">Bank Account</label>
                        <p-inputNumber id="bankAccount" formControlName="bankAccount"
                                       [useGrouping]="false"></p-inputNumber>
                    </div>
                    <div class="field mb-4 col-12 md:col-6">
                        <label for="phoneNumber" class="font-medium">Phone Number</label>
                        <p-inputNumber id="phoneNumber" formControlName="phoneNumber"
                                       [useGrouping]="false"></p-inputNumber>
                    </div>
                    <div class="surface-100 mb-3 col-12" style="height:2px"></div>
                    <div class="col-12">
                        <button (click)="updateProfile()" [loading]="isButtonSaveChangesLoading"
                            pButton pRipple label="Save Changes" class="w-auto mt-3"></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
