<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="openAddCategoryDialog()"
                            pButton pRipple label="Add Category" icon="pi pi-plus"
                            class="p-button-success mr-2">
                        </button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
                            pTooltip="CSV" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <form [formGroup]="productCategoryFg">
                <p-table #dt [value]="productCategory" [columns]="productCategoryCols" responsiveLayout="scroll"
                         [loading]="tableProductCategoryLoading" [globalFilterFields]="['categoryName','totalProduct']"
                         [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                         [exportHeader]="'customExportHeader'" editMode="row" rowExpandMode="single"
                         currentPageReportTemplate="Showing {first} to {last} of {totalRecords} categories"
                         [rowHover]="true" dataKey="id">
                    <ng-template pTemplate="caption">
                        <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                            <h5 class="m-0">Manage Product Category</h5>
                            <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                                <!--suppress TypeScriptUnresolvedVariable -->
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Search..."/>
                        </span>
                            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                    (click)="clear(dt)"></button>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th pSortableColumn="categoryName">
                                <div class="flex justify-content-between align-items-center">
                                    Name
                                    <p-sortIcon field="categoryName"></p-sortIcon>
                                    <p-columnFilter type="text" field="categoryName" display="menu"
                                                    class="ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="totalProduct">
                                <div class="flex justify-content-between align-items-center">
                                    Total Product
                                    <p-sortIcon field="totalProduct"></p-sortIcon>
                                    <p-columnFilter type="numeric" field="totalProduct" display="menu"
                                                    class="ml-auto"></p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="createdOn">
                                <div class="flex justify-content-between align-items-center">
                                    Created On
                                    <p-sortIcon field="createdOn"></p-sortIcon>
                                    <p-columnFilter type="date" field="createdOn" display="menu" class="ml-auto">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-calendar #calendar (onSelect)="filter(calendar.value)"
                                                        [ngModelOptions]="{standalone: true}" [ngModel]="value"
                                                        [showSeconds]="true" [showTime]="true">
                                            </p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th pSortableColumn="updatedOn">
                                <div class="flex justify-content-between align-items-center">
                                    Updated On
                                    <p-sortIcon field="updatedOn"></p-sortIcon>
                                    <p-columnFilter type="date" field="updatedOn" display="menu" class="ml-auto">
                                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                            <p-calendar #calendar (onSelect)="filter(calendar.value)"
                                                        [ngModelOptions]="{standalone: true}" [ngModel]="value"
                                                        [showSeconds]="true" [showTime]="true">
                                            </p-calendar>
                                        </ng-template>
                                    </p-columnFilter>
                                </div>
                            </th>
                            <th></th>
                        </tr>
                    </ng-template>

                    <!--       Form On Edit Category         -->
                    <ng-template pTemplate="body" let-productCategory let-editing="editing" let-ri="rowIndex"
                                 let-expanded="expanded">
                        <tr [pEditableRow]="productCategory">
                            <td>
                                <button type="button" pButton pRipple [pRowToggler]="productCategory"
                                        class="p-button-text p-button-rounded p-button-plain"
                                        [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                            </td>
                            <td>
                                <p-cellEditor>

                                    <ng-template pTemplate="input">
                                        <input pInputText type="text" formControlName="categoryName"
                                               placeholder="Category Name"
                                               [ngClass]="{'ng-invalid ng-dirty' : productCategoryFg.controls.categoryName.errors
                                                && (productCategoryFg.controls.categoryName.touched ||
                                                productCategoryFg.controls.categoryName.dirty)}">

                                        <div *ngIf="productCategoryFg.controls.categoryName.errors && (productCategoryFg.controls.categoryName.touched ||
                                            productCategoryFg.controls.categoryName.dirty) ">
                                            <div *ngIf="productCategoryFg.hasError('required','categoryName')">
                                                <small class="p-error">Category Name is required.</small>
                                            </div>
                                            <div *ngIf="productCategoryFg.hasError('minLength','categoryName')">
                                                <small class="p-error">Category Name must be 3 characters or
                                                    more.</small>
                                            </div>
                                            <div *ngIf="productCategoryFg.hasError('maxLength','categoryName')">
                                                <small class="p-error">Category Name maximum length is 20.</small>
                                            </div>
                                        </div>
                                    </ng-template>

                                    <ng-template pTemplate="output">
                                        {{productCategory.categoryName ? productCategory.categoryName : '-'}}
                                    </ng-template>

                                </p-cellEditor>
                            </td>
                            <td style="min-width:10rem;">
                                <span class="p-column-title">Total Product</span>
                                {{productCategory.totalProduct >= 0 ? productCategory.totalProduct : '-'}}
                            </td>
                            <!--suppress TypeScriptUnresolvedFunction -->
                            <td style="min-width: 10rem;">
                                <span class="p-column-title">Created On</span>
                                {{productCategory.createdOn ? (productCategory.createdOn | date: 'dd/MM/yyyy HH:mm:ss') : '-'}}
                            </td>
                            <!--suppress TypeScriptUnresolvedFunction -->
                            <td style="min-width: 10rem;">
                                <span class="p-column-title">Updated On</span>
                                {{productCategory.updatedOn ? (productCategory.updatedOn | date: 'dd/MM/yyyy HH:mm:ss') : '-'}}
                            </td>
                            <td>
                                <div class="flex">
                                    <div>
                                        <button
                                            *ngIf="checkCategoryStatus(editing, productCategory.categoryName.toString())"
                                            pButton pRipple pInitEditableRow type="button"
                                            (click)="onRowEditInit(productCategory)" [disabled]="isInEditMode"
                                            icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2"
                                        ></button>
                                        <div class="flex">
                                            <button *ngIf="editing" pButton pRipple type="button"
                                                    icon="pi pi-check" (click)="onRowEditSave(ri, productCategory.id)"
                                                    class="p-button-rounded p-button-text p-button-success"></button>
                                        </div>
                                        <div class="flex">
                                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow
                                                    icon="pi pi-times" (click)="onRowEditCancel()"
                                                    class="p-button-rounded p-button-text p-button-danger"></button>
                                        </div>

                                    </div>

                                    <button pButton pRipple
                                            *ngIf="checkCategoryStatus(editing, productCategory.categoryName.toString())"
                                            type="button" icon="pi pi-trash"
                                            (click)="onDeleteProductCategory(ri, productCategory.categoryName.toString())"
                                            class="p-button-rounded p-button-warning">
                                    </button>

                                </div>
                                <!--               Close Current Editable Row By ID CLick                 -->
                                <button [id]="productCategory.id+ri" [hidden]="true" pSaveEditableRow></button>
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td [attr.colspan]="6" class="text-center">
                                No records found
                            </td>
                        </tr>
                    </ng-template>

                    <ng-template pTemplate="rowexpansion" let-productCategory>

                        <td colspan="7">
                            <div class="p-6">
                                <p-table [value]="productCategory['products']">
                                    <ng-template pTemplate="caption">
                                        <div
                                            class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                                            <h5 class="m-0">{{productCategory.categoryName}} Products</h5>
                                        </div>
                                    </ng-template>

                                    <ng-template pTemplate="header">
                                        <tr>
                                            <th>Image</th>
                                            <th pSortableColumn="name">Product Name
                                                <p-sortIcon field="name"></p-sortIcon>
                                            </th>
                                            <th *ngIf="productCategory.id === 'akisjasas-asajek-ajsoaks-ejakjenafe'">
                                                Category
                                            </th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-product let-ri="rowIndex">
                                        <tr>
                                            <td style="min-width:10rem;"><span class="p-column-title">Image</span>
                                                <img
                                                    defaultImage="/assets/demo/images/galleria/spinner.gif"
                                                    [lazyLoad]=" apiBaseUrl +'/'+ projectName +'/images/product/download/' +  product?.images[0]?.imageName  "
                                                    width="100"
                                                    class="shadow-4" src="" [alt]="product?.images[0]?.imageName"/>
                                            </td>
                                            <td style="min-width:10rem;">
                                                <span class="p-column-title">Name</span>
                                                {{product.name}}
                                            </td>
                                            <!--(onClear)="onClearDropdownUnassigned(product.id)"-->
                                            <td *ngIf="productCategory.id === 'akisjasas-asajek-ajsoaks-ejakjenafe'">
                                                <p-dropdown #dd *ngIf="categoryDd" [showClear]="true"
                                                            [autoDisplayFirst]="false" [disabled]=""
                                                            (onChange)="onEventDropdownUnassigned(product.id, dd.value, ri)"
                                                            [options]="categoryDd"></p-dropdown>
                                            </td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="emptymessage">
                                        <tr>
                                            <td [attr.colspan]="3" class="text-center">
                                                No records found
                                            </td>
                                        </tr>
                                    </ng-template>

                                    <ng-template pTemplate="summary">
                                        <div
                                            class="flex flex-column md:flex-row md:justify-content-end md:align-items-end">
                                            <button icon="pi pi-check" [disabled]="unassignedProduct.length == 0"
                                                    *ngIf="productCategory.id === 'akisjasas-asajek-ajsoaks-ejakjenafe'"
                                                    (click)="saveCategoryInProduct()"
                                                    type="button" class="p-button-success" pButton pRipple label="Save">
                                            </button>
                                        </div>
                                    </ng-template>
                                </p-table>

                            </div>
                        </td>
                    </ng-template>

                </p-table>
            </form>

        </div>
        <p-dialog [(visible)]="showAddOrEditProductCategoryDialog" [style]="{width: '450px'}" [draggable]="false"
                  header="Add Product Category"
                  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form *ngIf="productCategoryFg" [formGroup]="productCategoryFg" (ngSubmit)="submit()">

                    <div class="field">
                        <label>Name</label>
                        <input type="text" pInputText formControlName="categoryName"
                               [ngClass]="{'ng-invalid ng-dirty' : productCategoryFg.controls.categoryName.errors &&
                                (productCategoryFg.controls.categoryName.touched || productCategoryFg.controls.categoryName.dirty)}"/>

                        <div *ngIf="productCategoryFg.controls.categoryName.errors &&
                        (productCategoryFg.controls.categoryName.touched ||
                           productCategoryFg.controls.categoryName.dirty) ">
                            <div *ngIf="productCategoryFg.hasError('required','categoryName')">
                                <small class="p-error">Category Name is required.</small>
                            </div>
                            <div *ngIf="productCategoryFg.hasError('minLength','categoryName')">
                                <small class="p-error">Category Name must be 3 characters or more.</small>
                            </div>
                            <div *ngIf="productCategoryFg.hasError('maxLength','categoryName')">
                                <small class="p-error">Category Name maximum length is 20.</small>
                            </div>
                        </div>

                    </div>

                </form>
            </ng-template>
            <ng-template pTemplate="footer">
                <button pButton pRipple (click)="showAddOrEditProductCategoryDialog = false" label="Cancel"
                        icon="pi pi-times"
                        class="p-button-text"></button>
                <button pButton pRipple
                        (click)="submit()"
                        label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>

        <p-confirmDialog #cd [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '45vw'}"
                         icon="pi pi-exclamation-triangle">
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                        (click)="cd.reject()"></button>
                <button pButton pRipple
                        (click)="cd.accept()"
                        icon="pi pi-check" class="p-button-text" label="Yes"
                ></button>
            </ng-template>
        </p-confirmDialog>

    </div>
</div>
