<div class="grid">
    <div class="col-12">
        <div class="card">
<!--            <p-editor [(ngModel)]="text" [style]="{'height':'320px'}">-->
<!--                <p-header> </p-header>-->
<!--            </p-editor>-->
            <p-toolbar styleClass="mb-4">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button
                            (click)="onAddQnaDialog()"
                            pButton pRipple label="Add QnA" icon="pi pi-plus"
                            class="p-button-success mr-2">
                        </button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <button type="button" pButton pRipple icon="pi pi-file" (click)="dt.exportCSV()" class="mr-2"
                            pTooltip="CSV" tooltipPosition="bottom"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="qnaService.qnaList" responsiveLayout="scroll" [reorderableColumns]="true"
                     (onRowReorder)="onQnaRowReorder()" [loading]="qnaService.isTableQnaLoading" [lazy]="true"
                     [globalFilterFields]="['question','answer']" [rows]="10" [paginator]="true" (onFilter)="onFilter($event)"
                     [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true" (onSort)="onFilter($event)"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} "
                     [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Manage QnA</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <!--suppress TypeScriptUnresolvedVariable -->
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                   placeholder="Search..."/>
                        </span>
                        <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                                (click)="dt.clear()"></button>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="question">
                            <div class="flex justify-content-between align-items-center">
                                Question
                                <p-sortIcon field="question"></p-sortIcon>
                                <p-columnFilter type="text" field="question" display="menu" on
                                                class="mr-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="answer">
                            <div class="flex justify-content-between align-items-center">
                                Answer
                                <p-sortIcon field="answer"></p-sortIcon>
                                <p-columnFilter type="numeric" field="answer" display="menu"
                                                class="mr-auto"></p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="createdOn">
                            <div class="flex justify-content-between align-items-center">
                                Date Created
                                <p-sortIcon field="createdOn"></p-sortIcon>
                                <p-columnFilter type="date" field="createdOn" display="menu" class="mr-auto">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-calendar #calendar (onInput)="filter(calendar.value)"
                                                    [ngModelOptions]="{standalone: true}" [ngModel]="value"
                                                    [showTime]="true">
                                        </p-calendar>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th pSortableColumn="updatedOn">
                            <div class="flex justify-content-between align-items-center">
                                Date Updated
                                <p-sortIcon field="updatedOn"></p-sortIcon>
                                <p-columnFilter type="date" field="updatedOn" display="menu" class="mr-auto">
                                    <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                                        <p-calendar #calendar (onSelect)="filter(calendar.value)"
                                                    [ngModelOptions]="{standalone: true}" [ngModel]="value"
                                                    [showSeconds]="true" [showTime]="true">
                                        </p-calendar>
                                    </ng-template>
                                </p-columnFilter>
                            </div>
                        </th>
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="emptymessage">
                    <tr>
                        <td [attr.colspan]="6" class="text-center">
                            No QnA found
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="showAddOrEditQnaDialog" [style]="{width: '450px'}" [draggable]="false"
                  header="{{editMode ? 'Edit' : 'Add'}} QnA" (onHide)="qnaService.qnaForm.reset()"
                  [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <form *ngIf="qnaService.qnaForm" [formGroup]="qnaService.qnaForm" (ngSubmit)="submit()">

                </form>

                <!--                <button pButton pRipple *ngIf="editMode" label="Reset Password"-->
                <!--                        icon="pi pi-refresh"-->
                <!--                        class="p-button-danger"></button>-->

            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple (click)="showAddOrEditQnaDialog = false" label="Cancel" icon="pi pi-times"
                        class="p-button-text"></button>
                <button pButton pRipple
                        (click)="submit()"
                        label="Save" icon="pi pi-check" class="p-button-text"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>
