<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Price Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter price information
        </ng-template>
        <ng-template pTemplate="content">
            <form [formGroup]="productFg" (ngSubmit)="nextPage()">
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <label for="unitPrice">Unit Price</label>
                        <p-inputNumber id="unitPrice" formControlName="unitPrice" prefix="Rp. "
                                       maxFractionDigits="0" (onInput)="inputUnitPrice($event)"
                                       [ngClass]="{'ng-invalid ng-dirty' : productFg.get('unitPrice').errors &&
                                                                (productFg.get('unitPrice').touched || productFg.get('unitPrice').dirty)}">
                        </p-inputNumber>
                        <div *ngIf="productFg.get('unitPrice').errors && (productFg.get('unitPrice').touched ||
                                                           productFg.get('unitPrice').dirty) ">
                            <div *ngIf="productFg.hasError('required','unitPrice')">
                                <small class="p-error">Unit price is required.</small>
                            </div>
                            <div *ngIf="productFg.hasError('numeric','unitPrice')">
                                <small class="p-error">Unit price must be number.</small>
                            </div>
                            <div *ngIf="productFg.hasError('greaterThanEqualTo','unitPrice')">
                                <small class="p-error">Unit price must be greater than or equal to discounted
                                    price.</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="discount">Discount Availability</label>z
                        <p-dropdown id="discount" [options]="availableDropdown" [showClear]="true"
                                    appendTo="body" formControlName="discount" placeholder="Select a Status"
                                    (onChange)="onChangeDiscountStatus($event)"
                                    [ngClass]="{'ng-invalid ng-dirty' : productFg.get('discount').errors &&
                                     (productFg.get('discount').touched || productFg.get('discount').dirty)}">
                            <ng-template pTemplate="selectedItem">
                                <span
                                    [class]="this.productFg.value.discount ? 'item-badge status-true': 'item-badge status-false'">
                                    {{this.productFg.value.discount ? 'Available' : 'Not available'}}
                                </span>
                            </ng-template>
                            <ng-template let-status pTemplate>
                                <span
                                    [class]="'item-badge status-' + status.value">{{status.label}}
                                </span>
                            </ng-template>
                        </p-dropdown>
                        <div *ngIf="productFg.get('discount').errors && (productFg.get('discount').touched ||
                                                               productFg.get('discount').dirty) ">
                            <div *ngIf="productFg.hasError('required','discount')">
                                <small class="p-error">Discount Status is required</small>
                            </div>
                        </div>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label>Discount %</label>
                        <p-inputNumber suffix=" %" [min]="0" [max]="100" formControlName="discountPercent"
                                       [useGrouping]="false" (onInput)="inputDiscountValue($event)">
                        </p-inputNumber>
                        <p-slider formControlName="sliderPercent"
                                  (onChange)="inputDiscountValue($event)"></p-slider>
                    </div>

                    <div class="field col-12 md:col-4">
                        <label for="discountedPrice">Discounted Price</label>
                        <p-inputNumber id="discountedPrice" formControlName="discountedPrice" prefix="Rp. "
                                       maxFractionDigits="0" (onInput)="inputDiscountedPrice($event)"
                                       [ngClass]="{'ng-invalid ng-dirty' : productFg.get('discountedPrice').errors &&
                                                                (productFg.get('discountedPrice').touched ||
                                                                productFg.get('discountedPrice').dirty)}">
                        </p-inputNumber>
                        <div *ngIf="productFg.get('discountedPrice').errors && (productFg.get('discountedPrice').touched ||
                                                           productFg.get('discountedPrice').dirty) ">
                            <div *ngIf="productFg.hasError('required','discountedPrice')">
                                <small class="p-error">Discounted price is required</small>
                            </div>
                            <div *ngIf="productFg.hasError('pattern','discountedPrice')">
                                <small class="p-error">Discounted price format is invalid</small>
                            </div>
                            <div *ngIf="productFg.hasError('lessThanEqualTo','discountedPrice')">
                                <small class="p-error">Discounted price should be less than or equal to unit price
                                    !</small>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-between">
                <p-button label="Back" (click)="prevPage()" icon="pi pi-angle-left"></p-button>
                <p-button label="Next" (click)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>

</div>
